body {
    background: -webkit-linear-gradient(-45deg, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 43%, rgba(240, 240, 240, 1) 66%, rgba(202, 201, 202, 1) 96%, rgba(202, 201, 202, 1) 100%);
    background: linear-gradient(135deg, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 43%, rgba(240, 240, 240, 1) 66%, rgba(202, 201, 202, 1) 96%, rgba(202, 201, 202, 1) 100%);
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 100%;
}

:root {
    --main-contact-color: #bfb9b9;
    --services-color: #a5a9b5;
}

html {
    font-size: 15px;
}

.main {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.page {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 1s;
    -webkit-animation-delay: 1s;
    text-align: center
}

.intro-container, .rotated-block {
    display: block;
}

.intro-container, .contact-intro-container {
    width: 100%;
    height: 50vh;
    overflow: hidden;
    font-size: 2rem;
    position: relative;
    font-family: 'EB Garamond', serif;
    padding-left: 0px;
    padding-right: 0px;
}

.salon-intro-container {
    background: url('../images/salone_6.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    color: white;
}

.team-intro-container {
    background: url('../images/salone_2.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    color: white;
}

.salon-intro-container, .team-intro-container {
    width: 100%;
    font-size: 2rem;
    font-family: 'EB Garamond', serif;
    height: 100vh;
}

.salon-intro-container div, .team-intro-container div, .contact-intro-container div {
    position: absolute;
    top: 60%;
    text-align: center;
    -webkit-animation-name: inByLeft;
    animation-name: inByLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

.contact-intro-container div {
    top: 40%;
    text-align: left;
}

.contact-intro-container div>h1:nth-child(1) {
    color: var(--services-color);
}

.intro-container-bg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.rotated-block {
    position: absolute;
    z-index: 1;
    width: 35%;
    min-height: 220%;
    background: rgb(255, 255, 255);
    transform: rotate(-20deg);
    left: 10%;
    top: -35%;
}

.intro-container .content {
    position: absolute;
    z-index: 2;
    top: 35%;
    left: 15%;
    transform: rotate(20deg);
}

.salon-intro-container h1, .intro-container h1 {
    font-size: 3rem;
}

hr {
    position: relative;
    border: 0;
    text-align: center;
    height: 3em;
    opacity: .3;
    width: 95%;
}

hr:before {
    content: '';
    background: linear-gradient(to right, rgba(196, 69, 69, 1) 0%, rgba(0, 0, 0, 1) 35%, transparent 36%, transparent 64%, rgba(0, 0, 0, 1) 65%, rgba(196, 69, 69, 1) 100%);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

hr:after {
    content: '';
    position: relative;
    display: inline-block;
    color: black;
    padding: 40px 40px;
    background: transparent url('../images/logo-transparent.png') no-repeat scroll center;
    background-size: 120% 120%;
    top: -50%;
}

.services {
    background-color: #d4d2c7;
    padding: 20px;
    text-align: center;
    font-family: 'EB Garamond', sans-serif;
    opacity: 0.9;
    color: #42404c;
    font-weight: bold;
}

.row-services {
    background: url('../images/salone_1.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    padding: 10px;
}

.top {
    border-bottom: 20px solid #d4d2c7;
    border-right: 20px solid transparent;
}

.services-list {
    list-style: none;
    padding-left: 0px;
}

.services-list li {
    margin-top: 1em;
    font-size: 1.5em;
}

.services-list li .li-left {
    text-align: left;
}

.services-list li .li-right {
    text-align: right;
}

.middle-bg {
    background: url('../images/salone_8.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    height: 50vh;
    margin: 10px 0px 10px 0px;
}

.middle-logo {
    background: url('../images/logo-transparent.png') no-repeat center center;
    background-size: contain;
    -webkit-background-size: contain;
}

.middle-bg .row, .middle-logo {
    height: 100%;
}

.contacts {
    background-color: #ababab;
    height: 60vh;
}

.contacts span {
    color: white;
    font-size: 1.6em;
    display: block;
    margin-top: 1em;
}

.contacts .contact {
    position: absolute;
    top: 40%;
    transform: translate(0%, -50%);
    text-align: center;
}

.contacts-title {
    text-align: center;
    color: white;
    font-family: 'EB Garamond', serif;
    background-color: #ababab;
}

.contacts-rounded-top {
    border-radius: 20px 0 0 0;
}

.contacts-rounded-bottom {
    border-radius: 0 0 20px 0;
}

.footer {
    font-family: 'EB Garamond', serif;
    background-color: var(--main-contact-color);
    text-align: center;
    padding: 10px;
}

.footer-info {
    border-top: 1px solid white;
    color: white;
    padding-top: 2px;
}

.history {
    font-size: 1.2rem;
    font-family: 'EB Garamond', serif;
    text-align: center;
}

.history>p {
    margin-bottom: 50px;
    margin-top: 20px;
    text-align: left;
}

.row-gallery {
    margin: 10px 0px 10px 0px;
}

.gallery-description {
    font-size: 1.2rem;
    position: relative;
    font-family: 'EB Garamond', serif;
    text-align: left;
}

.row-gallery-inverted .gallery-description {
    text-align: left;
}

.img-overlay:after {
    content: '';
    position: absolute;
    border: 2px solid var(--main-contact-color);
    top: -2%;
    left: 0;
    width: 95%;
    height: 110%;
}

.contact-container {
    height: 50vh;
}

.schedule {
    font-size: 1.2rem;
    position: relative;
    font-family: 'EB Garamond', serif;
    text-align: center;
    margin-top: 2rem;
}

.schedule-title {
    color: var(--services-color);
}

.schedule ul {
    list-style: none;
    margin-top: 2rem;
    padding-left: 0px;
    margin: 30px 0px 30px 0px;
}

.schedule ul li {
    margin-top: 1rem;
}

.time-detail span {
    margin-left: 10px;
}

.time-detail a {
    color: #889dde;
}

@media screen and (max-width: 1200px) {
    .intro-container, .contact-intro-container {
        height: 100vh;
    }
    .intro-container {
        font-size: 2rem;
    }
    .intro-container h1 {
        font-size: 3rem;
    }
    .rotated-block {
        width: 50%;
        left: 5%;
    }
}

@media screen and (orientation: portrait) and (max-width: 1200px) {
    .rotated-block {
        width: 80%;
        left: 5%;
    }
    .intro-container .content {
        left: 20%;
    }
    .contacts {
        height: 40vh;
    }
    .row-gallery {
        margin-top: 5%;
    }
}

@media screen and (orientation: portrait) and (max-width: 480px) {
    .intro-container {
        font-size: 1.5rem;
    }
    .intro-container h1 {
        font-size: 2rem;
    }
    .gallery-description {
        margin-top: 5%;
    }
}

@media screen and (orientation: portrait) and (max-width: 767px) {
    .loader {
        width: 60%;
    }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
    .row-gallery {
        margin-top: 5%;
    }
}

@media screen and (orientation: landscape) and (min-width: 1200px) {
    .gallery-description {
        margin-top: 10%;
    }
}

@media screen and (orientation: landscape), screen and (min-width: 480px) {
    hr:before {
        background: linear-gradient(to right, rgba(196, 69, 69, 1) 0%, rgba(0, 0, 0, 1) 40%, transparent 41%, transparent 59%, rgba(0, 0, 0, 1) 60%, rgba(196, 69, 69, 1) 100%);
    }
}

@media screen and (min-width: 800px) {
    hr:before {
        background: linear-gradient(to right, rgba(196, 69, 69, 1) 0%, rgba(0, 0, 0, 1) 40%, transparent 46%, transparent 54%, rgba(0, 0, 0, 1) 60%, rgba(196, 69, 69, 1) 100%);
    }
}

@media screen and (max-width: 767px) {
    .row-gallery-inverted {
        display: flex;
        flex-direction: column;
    }
    .row-gallery-inverted .gallery-description {
        order: 1;
    }
    .services-list li {
        font-size: 1.3em;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes inByLeft {
    0% {
        left: -100%;
    }
    100% {
        left: 10%;
    }
}

@keyframes inByLeft {
    0% {
        left: -100%;
    }
    100% {
        left: 10%;
    }
}