
body {
    background: -webkit-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 43%, rgba(240,240,240,1) 66%, rgba(202,201,202,1) 96%, rgba(202,201,202,1) 100%);
    background: linear-gradient(135deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 43%, rgba(240,240,240,1) 66%, rgba(202,201,202,1) 96%, rgba(202,201,202,1) 100%);
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
}

html {
    font-size: 15px;
}

.main {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 4s;
    -webkit-animation-delay: 4s; 
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    text-align: center
}

.intro-container,
.rotated-block {
  display:block;
}

article.intro-container {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  font-size: 2rem;
  position: relative;
  font-family: 'EB Garamond', serif;
  padding-left: 0px;
  padding-right: 0px;
}

.intro-container-bg {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.rotated-block {
  position: absolute;
  z-index: 1;
  width: 35%;
  min-height: 220%;
  background: rgb(255, 255, 255);
  transform: rotate(-20deg);
  left: 10%;
  top: -35%;
}

article.intro-container .content {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 15%;
  transform: rotate(20deg);
}

article.intro-container h1{
    font-size: 3rem;
}

hr {
    position: relative;
    border: 0;
    text-align: center;
    height: 3em;
    opacity: .3;
    width: 95%;
}

hr:before {
    content: '';
    background:  linear-gradient(to right, rgba(196,69,69,1) 0%, rgba(0,0,0,1) 40%, transparent 40%, transparent 60%, rgba(0,0,0,1) 60%, rgba(196,69,69,1) 100%);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

hr:after {
    content: '';
    position: relative;
    display: inline-block;
    color: black;
    padding: 40px 40px;   
    background: transparent url('../images/main-logo.png') no-repeat scroll center;
    background-size: 100% 100%;
    top: -50%;
}

.services {
    background-color: #d4cdad;
    padding: 20px;
    text-align: center;
    font-family: 'EB Garamond', serif;
}

.row-services {
    background: url('../images/section-background.png') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    padding: 10px;
}

.top {
    border-bottom: 20px solid #d4cdad;
    border-right: 20px solid transparent;
}

.services-list {
    list-style: none;
    padding-left: 0px;
    line-height: 1.8em;
}

.middle-bg {
    background: url('../images/middle-background.jpeg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    height: 50vh;
    margin: 10px 0px 10px 0px;
}

.middle-logo {
    background: url('../images/main-logo-white.png') no-repeat center center;
    background-size: contain;
    -webkit-background-size: contain;
}

.middle-bg .row, .middle-logo {
    height: 100%;
}

@media screen and (max-width : 1200px){
    article.intro-container {
        height: 100vh;
    }
    
    article.intro-container {
        font-size: 2rem;
    }

    article.intro-container h1{
        font-size: 3rem;
    }

    .rotated-block {
        width: 50%;
        left: 5%;
    }
}

@media screen and (orientation : portrait) and (max-width : 1200px){
    .rotated-block {
        width: 80%;
        left: 5%;
    }

    article.intro-container .content {
        left: 25%;
    }
}

@media screen and (orientation : portrait) and (max-width : 480px){
    article.intro-container {
        font-size: 1.5rem;
    }

    article.intro-container h1{
        font-size: 2rem;
    }
}

@media screen and (orientation : landscape), screen and (min-width : 480px){
    hr:before {
        background:  linear-gradient(to right, rgba(196,69,69,1) 0%, rgba(0,0,0,1) 40%, transparent 45%, transparent 55%, rgba(0,0,0,1) 60%, rgba(196,69,69,1) 100%);
        
    }
}


@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}