
body {
    background: -webkit-linear-gradient(-45deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 43%, rgba(240,240,240,1) 66%, rgba(202,201,202,1) 96%, rgba(202,201,202,1) 100%);
    background: linear-gradient(135deg, rgba(250,250,250,1) 0%, rgba(250,250,250,1) 43%, rgba(240,240,240,1) 66%, rgba(202,201,202,1) 96%, rgba(202,201,202,1) 100%);
    background-size: cover;
    -webkit-background-size: cover;
    height: 100vh;
    width: 100%;
}

html {
    font-size: 15px;
}

.main {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    animation-delay: 4s;
    -webkit-animation-delay: 4s; 
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 20%;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-delay: 2s;
    -webkit-animation-delay: 2s;
    text-align: center
}

img {
    object-fit: contain;
}

hr { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.intro-container,
.rotated-block {
  display:block;
}

article.intro-container {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  background: url('../images/intro.jpeg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  font-size: 2rem;
  font-family: 'Great Vibes', cursive;
}

.rotated-block {
  position: absolute;
  z-index: 1;
  width: 30%;
  min-height: 220%;
  background: rgb(255, 255, 255);
  transform: rotate(-20deg);
  left: 10%;
  top: -30%;
}

article.intro-container .content {
  position: absolute;
  z-index: 2;
  top: 35%;
  left: 15%;
  transform: rotate(20deg);
}

article.intro-container h1{
    font-size: 3rem;
}

@media screen and (max-width : 1200px){
    article.intro-container {
        height: 100vh;
    }
    
    article.intro-container {
        font-size: 2rem;
    }

    article.intro-container h1{
        font-size: 3rem;
    }

    .rotated-block {
        width: 50%;
        left: 5%;
    }
}

@media screen and (orientation : portrait) and (max-width : 1200px){
    .rotated-block {
        width: 80%;
        left: 5%;
    }

    article.intro-container .content {
        left: 25%;
    }
}

@media screen and (orientation : portrait) and (max-width : 480px){
    article.intro-container {
        font-size: 1.5rem;
    }

    article.intro-container h1{
        font-size: 2rem;
    }
}


@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
 
 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
 
 @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}